<% if !Administrator.uniq.pluck(:userid).include?(current_user.id) %>
  <script language="javascript"><!--
  location.replace("/help")
  //-->
  </script>
<%end%>
<div class="well">
  <h2>Add Memberships</h2>
  <%= form_for @membership do |f| %>
    <%= f.label "Which Member do you want to add?"%></br>
    <%=f.collection_select(:groupid, @groups, :id, :name)%>
    <%=f.collection_select(:userid, @users, :id, :name)%>
    <a href="/groups">Add Group!</a>
    </br>
    </br>
    <%= f.submit "Add to Group!", class: "btn btn-primary" %>
  <% end %>
  </br>
  </br>
  <p>This is the page that the users will be added to different groups.</p>
</div>
