<div class="well">
  <h2>Welcome to the Memberships Page!</h2>
  <%= form_for @membership do |f| %>
    <%= f.label "Which Wi-Pro do you want to checkout?"%></br>
    <%=f.collection_select(:groupid, @groups, :id, :name)%>
    <%=f.collection_select(:userid, @users, :id, :name)%>
    <a href="/groups">Add Group!</a>
    </br>
    </br>
    <%= f.submit "Add to Group!", class: "btn btn-primary" %>
  <% end %>
  </br>
  </br>
  <p>This is the page that the users will be added to different groups.</p>
</div>
