<div class="well">
  <%= form_for @hex do |f| %>
    <%= render 'shared/hexes_error_messages' %>
    <%if logged_in? %>
    <%= f.label "Which Wi-Pro do you want to use?"%></br>
    <%=f.collection_select(:wiproid, Wiproid.where(userid: current_user.id), :wiproid, :name)%>
    <a href="/wiproids">Add Device!</a>
    <%end%>
    <%= f.submit "Checkout!", class: "btn btn-primary" %>
  <% end %>
</div>
