<% if !logged_in? %>
  <script language="javascript"><!--
  location.replace("login")
  //-->
  </script>
  <meta http-equiv="refresh" content="0;url=/login">
<% end %>

<% if (Checkout.where(userid: current_user.id).where('updated_at > ?', 5.minutes.ago).count == 0) %>
  <script language="javascript"><!--
  location.replace("checkouts")
  //-->
  </script>
<% end %>

<div class="well">
  <h2>Program Device</h2>
  <%= form_for @hex, html: { multipart: true } do |f| %>
    <%= render 'shared/hexes_error_messages' %>
    <%if Checkout.where("userid = ?", current_user.id).last%>
    <%=f.label "Wi-Pro Checked out:"%></br>
    <%=f.text_field :wiproid, readonly: true, value: Wiproid.find(Checkout.where("userid = ?", current_user.id).last.wiproid).wiproid %>
    <%end%>
    </br>
    <%#= f.select(:wiproid, options_for_select(@wiprolist))%>
    <%= f.label "What device are you programming?"%></br>
    <%= f.collection_select(:deviceid, @devices, :id, :name)%>
    <%#= f.select(:deviceid, options_for_select([['ATMega324p', 1],['ATTiny2313', 2]], 2))%>
    </br>
    <%= f.label "What hex file do you want to use?" %></br>
    <%= f.file_field :attachment %>
    </br>
    <%= f.submit "Program!", class: "btn btn-primary" %>
  <% end %>
</div>
