<% if !logged_in? %>
  <script language="javascript"><!--
  location.replace("login")
  //-->
  </script>
  <meta http-equiv="refresh" content="0;url=/login">
<% end %>

<div class="well">
  <h2>Program Device</h2>
  <%= form_for @hex, html: { multipart: true } do |f| %>
    <%= render 'shared/hexes_error_messages' %>
    <%#= f.select(:wiproid, options_for_select(@wiprolist))%>
    <%= f.label "What device are you programming?"%></br>
    <%= f.select(:deviceid, options_for_select([['ATMega324p', 1],['ATTiny2313', 2]], 2))%>
    </br>
    <%= f.label "What hex file do you want to use?" %></br>
    <%= f.file_field :attachment %>
    </br>
    <%= f.submit "Program!", class: "btn btn-primary" %>
  <% end %>
</div>
