<style>
body {
    background-color: #aaa;
    padding: 10px;
}

#progressbar {
    width: 100%;
    height: 15px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

#progress {
    background: #A1C969; /*-- Color of the bar --*/
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

#pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress {
    from { }

    to { width: 36% }
}

@-moz-keyframes progress {
    from { }

    to { width: 36% }
}

@-ms-keyframes progress {
    from { }

    to { width: 36% }
}

@keyframes progress {
    from { }

    to { width: 36% }
}

</style>

<% if !@hex.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @hex.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @hex, html: { multipart: true } do |f| %>
    <%= f.label "Which Wi-Pro do you want to use?"%></br>
    <%= f.select(:wiproid, options_for_select([['Senior Thesis #1', 1111111111],['Lab340 #9', 2222222222]]))%>

  </br>
    <%= f.label "What device are you programming?"%></br>
    <%= f.select(:deviceid, options_for_select([['ATMega324p', 1],['ATTiny2313', 2]], 2))%>
  </br>
    <%= f.label "What hex file do you want to use?" %></br>
    <%= f.file_field :attachment %>
  </br>
    <%= f.submit "Program!", class: "btn btn-primary" %>
  <% end %>
</div>
<div id="progressbar"><div id="progress" ><div id="pbaranim"></div></div></div>
