<head>
  <title>Wi-Pro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if !logged_in? %>
    <script language="javascript"><!--
    location.replace("login")
    //-->
    </script>
  <% end %>
</head>

<div class="well">
  <h1>Homepage</h1>
  Welcome to the homepage of the senior thesis team.
</br>
  The links that are important on this project are:
</br>
  <a href="/hexes">Upload a Hex file!</a>
</br>
</div>
<!--<img src="assets/rails.png" align="center"><br/>-->

<!--Your application root is located in: <%= Rails.root.to_s %><br>-->

<!--Ruby version: <%= RUBY_VERSION %><br>-->

<!--Rails version: <%= Rails.version %><br>-->
