<head>
  <title>Wi-Pro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<div class="well">
<h1>Homepage</h1>
  <% if !logged_in? %>
  </br>
  <h4>The first thing that you are going to want to do is <b><a href="/signup">Sign Up</a></b> for an account or <b><a href="/login">Log in</a></b>.</h4>
  <% end %>
  </br>
  <h4>Once you have an account, you should go to the <b><a href="/groups">Groups</a></b> Page.  Here you will create a group to add Wi-Pros to.</h4>
  </br>
  <h4>After you have created a group, you must add yourself to the group on the <b><a href="/memberships">Memberships</a></b> Page.</h4>
  </br>
  <h4>Once you have linked yourself to the group, you can add Wi-Pros to the group.  To do this, go to the <b><a href="/wiproids">Wi-Pro Registration</a></b> Page!</h4>
  </br>
  <h4>The next step of this process is to <b><a href="/checkouts">Checkout</a></b> a Wi-Pro.</h4>
  </br>
  <h4>After all of the following steps are completed, you are ready to <b><a href="/program">Program</a></b> a device (<a href="/devices/admin">available devices</a>)!</h4>
  </br>
</div>
<!--<img src="assets/rails.png" align="center"><br/>-->

<!--Your application root is located in: <%= Rails.root.to_s %><br>-->

<!--Ruby version: <%= RUBY_VERSION %><br>-->

<!--Rails version: <%= Rails.version %><br>-->
