<head>
  <title>Wi-Pro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if !logged_in? %>
    <meta http-equiv="refresh" content="0;url=/login">
  <% end %>
</head>

<div class="well">
  <a href="/hexes">Upload a Hex file!</a>
</div>
<!--<img src="assets/rails.png" align="center"><br/>-->

<!--Your application root is located in: <%= Rails.root.to_s %><br>-->

<!--Ruby version: <%= RUBY_VERSION %><br>-->

<!--Rails version: <%= Rails.version %><br>-->
