<head>
  <title>Wi-Pro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<a href="/hexes">Upload a Hex file!</a>
<!--<img src="assets/rails.png" align="center"><br/>-->

<!--Your application root is located in: <%= Rails.root.to_s %><br>-->

<!--Ruby version: <%= RUBY_VERSION %><br>-->

<!--Rails version: <%= Rails.version %><br>-->
