<% if (Checkout.where(userid: current_user.id).where('updated_at > ?', 5.minutes.ago).count == 0) %>
  <script language="javascript"><!--
  location.replace("checkouts")
  //-->
  </script>
<% end %>
<div class="well">
<h2>Add Wi-Fi Information</h2>
<%= form_for @ssid do |f| %>
  <%if Checkout.where("userid = ?", current_user.id).last%>
  <%= f.label "Wi-Pro ID"%></br>
  <%=f.text_field :wiproid, readonly: true, value: @wiproid.wiproid%>
  <%end%>
  </br>
  </br>
  <%= f.label "Please choose the network to connect to:"%></br>
  <%#=f.text_field :ssid%>
  <%= f.select(:ssid, @list)%>&nbsp;&nbsp;&nbsp;&nbsp;<a href='/ssids' class="btn btn-mini btn-info">Update Networks!</a>
  </br></br>
  <%= f.label "Please enter the password for this network:"%></br>
  <%=f.password_field :password%>
  </br>
  </br>
  <%= f.submit "Connect!", class: "btn btn-primary" %>
<% end %>
</div>
