<h1>Wireless Information</h1>
<%= form_for @ssid do |f| %>
  <%= f.label "What is the Wi-Pro ID on this Wi-Pro?"%></br>
  <%=f.text_field :wiproid%>
  </br>
  <%= f.label "Please choose the network to connect to:"%></br>
  <a href='/ssids' class="btn btn-mini btn-primary">Update Networks!</a></br>
  <%=f.text_field :ssid%>
  </br>
  <%= f.label "Please enter the password for this network:"%></br>
  <%=f.text_field :password%>
  </br>
  </br>
  <%= f.submit "Connect!", class: "btn btn-primary" %>
<% end %>
