<% if !logged_in? %>
  <meta http-equiv="refresh" content="0;url=/login">
<% end %>
<div class="well">
  <%= form_for @wiproid do |f| %>
    <%= render 'shared/wiproids_error_messages' %>
    <%= f.label "Name your Wi-Pro"%></br>
    <%= f.text_field :name %>
    </br>
    <%= f.label "What is the Serial Number on the device?"%></br>
    <%= f.text_field :wiproid%>
    </br>
    </br>
    <%= f.submit "Add WiPro", class: "btn btn-primary" %>
  <% end %>
</div>
