<% if !Administrator.uniq.pluck(:userid).include?(current_user.id) %>
  <script language="javascript"><!--
  location.replace("/help")
  //-->
  </script>
<%end%>
<div class="well">
  <%= form_for @wiproid do |f| %>
    <%= f.label "Name your Wi-Pro"%></br>
    <%= f.text_field :name %>
    </br>
    <%= f.label "What is the Serial Number on the device?"%></br>
    <%= f.text_field :wiproid%>
    </br>
    <%= f.label "Enter your userid (this should be automatic later)" %></br>
    <%= f.text_field :userid %>
    </br>
    </br>
    <%= f.submit "Add WiPro", class: "btn btn-primary" %>
  <% end %>
</div>
