<div class="well">
  <h2>Welcome to the Checkout Page!</h2>
  <%#availwp = Hash.new%>
  <%@id_list = Array.new%>
  <%@final_list = Array.new%>
  <%@final_hash = Hash.new%>
  <%@list.each do |l|%>
    <%@id_list = @final_list + Wiproid.where(groupid: Group.find(l.groupid)).pluck(:id)%>
    </br>
  <%end%>
  <%@id_list = @id_list.uniq.sort%>
  <%@id_list.each do |id|%>
    <%@final_hash[id] = Wiproid.find(id).wiproid%>
  <%end%>
  <%=@final_hash%>
  <%= form_for @checkout do |f| %>
    <%#= render 'shared/hexes_error_messages' %>
    <%if logged_in? %>
    <%= f.label "Which Wi-Pro do you want to checkout?"%></br>
    <%=f.select :wiproid, @final_list%>
    <%#= f.collection_select(:wiproid, Wiproid.all, :id, :wiproid)%>
    <%#= f.select_tag(:checkoutid, options_for_select(availwp.to_a))%>
    <%#= f.select(:checkoutid) do %>
      <%# availwp.to_a.each do |c| -%>
        <%#= content_tag(:option, c.first, value: c.last) %>
      <%# end %>
    <%# end %>
    <a href="/wiproids">Add Wi-Pro!</a>
    <%end%>
    </br>
    </br>
    <%= f.submit "Checkout!", class: "btn btn-primary" %>
  <% end %>
  </br>
  </br>
  <p>This is the section that you will checkout a device on.</p>
</div>
