<div class="well">
  <h2>Checkout Wi-Pro</h2>
  <%= form_for @checkout do |f| %>
    <%if logged_in? %>
    <%= f.label "Which Wi-Pro do you want to checkout?"%></br>
    <%=f.select :wiproid, options_from_collection_for_select(@final_hash.sort, :last, :first)%>
    <% if Administrator.uniq.pluck(:userid).include?(current_user.id) %>
      <a href="/wiproids">Add Wi-Pro!</a>
    <%end%>
    <%end%>
    </br>
    </br>
    <%= f.submit "Checkout!", class: "btn btn-primary" %>
  <% end %>
  </br>
  </br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Wi-Pro ID</th>
        <th>Last Ping</th>
      </tr>
    </thead>
    <tbody>
      <% @active.each do |active| %>
        <%if(@final_hash.keys.include?(active.wiproid.to_i))%>
          <%if (Time.now - active.updated_at) > 120%>
            <tr class="danger">
          <%else%>
            <tr class="success">
          <%end%>
            <td><%= active.wiproid %></td>
            <td><%= time_ago_in_words(active.updated_at, include_seconds: true) %> ago</td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
  Current Groups: <%@group_list.each do |g|%>
                    <%=Group.find(g).name%></br>
                  <%end%>
</div>
