<!DOCTYPE html>
<html>
<head>
  <title>Wireless Programmer</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <% if logged_in? %>
    <div align="right">Welcome <%=current_user.name%>! <%= link_to "(Not #{current_user.name}?)", logout_path, method: "delete" %></div>
  <%end%>
  <div class="container" style="padding-top:20px;">
    <h1>Wi-Pro</h1>
  </div>
    <div class="container" style="padding-top:20px;">
    <ul class="nav nav-tabs">
      <li><a href="/">Home</a></li>
      <% if logged_in? %>
          <li><a href="/hexes">Program Wi-Pro</a></li>
          <li><a href="/wiproids">Register Wi-Pro</a></li>
          <li><a href="/groups">Add Group</a></li>
          <li><a href="/memberships">Add Members</a></li>
          <li><a href="/devices">Add Device</a></li>
          <li><a href="/ssids">Wireless Connection</a></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
    </ul>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
